# NOTE: This requirements.txt is intended only for the virtual environment used to deploy the Lambda function.
# Do not use this environment or file for Databricks ETL processing.
boto3
botocore
python-dotenv
langchain
langchain-community
openai
faiss-cpu==1.7.4
tiktoken
numpy==1.24.4